html {
    font-size: 62.5%;

    body {
        background-color: @backgroundColor;
        color           : @mediumColor;
        font-weight     : lighter;
        font-size       : 2rem;

        &::after,
        &::before {
            content : " ";
            display : block;
            width   : 40%;
            height  : 100%;
            position: fixed;
            z-index : -1;
            left    : 10%;
        }

        &::before {
            background-image : url("../../src/assets/images/background.jpg");
            background-repeat: no-repeat;
            background-size  : cover;
            opacity          : 0.5;
        }

        &::after {
            background-color: @primaryColor;
            opacity         : 0.8;
        }

        #toolbar {
            position: absolute;
        }

        #main .ui.container {
            width: 80% !important;
        }

        .ui.segment,
        .ui.basic.segment,
        .ui.secondary.segment {
            font-size       : 2rem;
            margin          : 0;
            padding         : 0;
            background-color: transparent;
            border          : none;
        }
    }
}

h1.documentFirstHeading {
    border-bottom: none;

    &::before {
        display: none;
    }
}

h1,
h2 {
    font-size     : 4rem;
    text-transform: uppercase;
    color         : @darkColor;
    font-family   : @secondaryFont;
}

p.documentDescription,
h3 {
    font-weight: 500;
    font-size  : 2rem;
    color      : @mediumColor;
}

.primaryColor {
    color: @primaryColor;
}

aside.title {
    font-weight    : medium;
    font-family    : @secondaryFont;
    color          : @lightColor;
    font-size      : 7rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-transform : uppercase;
}

.button-yellow {
    background-color: @secondaryColor  !important;
    padding         : 1rem 3rem !important;
    color           : @darkColor  !important;
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    font-family     : @secondaryFont;
    border          : none !important;

    &::after {
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        margin-left: 1rem;
        font-size  : 2.5rem;
        transform  : rotateZ(20deg);
    }
}

section {
    margin-bottom: 10rem;

    &.title-block {
        display              : grid;
        grid-template-columns: 5% auto 55%;
        grid-template-rows   : 1fr;
        grid-gap             : 4rem;

        &>aside {
            grid-column: 2;
            grid-row   : 1;
        }

        article {
            grid-column: 3;
            grid-row   : 1;
        }
    }

    &.block-img {
        display              : grid;
        grid-template-columns: auto 30%;
        grid-template-rows   : 1fr;
        grid-gap             : 5rem;

        .block-element {
            grid-column: 1;
            grid-row   : 1;
            padding    : 6rem;
        }

        .image {
            background-repeat  : no-repeat;
            background-size    : cover;
            grid-column        : 2;
            grid-row           : 1;
            width              : 100%;
            padding-bottom     : 100%;
            display            : block;
            margin-bottom      : 1em;
            background-position: center;
        }
    }
}

body.siteroot {
    main .breadcrumbs {
        display: none;
    }

    .documentFirstHeading {
        visibility: hidden;
        font-size : 0rem;
        margin    : 0;
        padding   : 0;
    }
}

body:not(.siteroot) {
    main {
        margin-top: 5rem;

        &>div>.ui.container {
            background-color: @lightColor;
            padding         : 4rem;
            box-shadow      : 0 3px 6px rgba(0, 0, 0, .1);
        }

        .breadcrumbs .ui.container {
            padding-bottom: 0rem;
        }
    }

    .documentFirstHeading {
        visibility: visible;
    }
}

@media (max-width: 1400px) {
    html body {

        &::before,
        &::after {
            width: 50%;
            left : 5%;
        }

        #main .ui.container {
            width: 95% !important;
        }
    }
}

@media (max-width: 992px) {
    html body {

        &::before,
        &::after {
            width: 90%;
            left : 5%;
        }
    }
}

@media (max-width: 767px) {
    html body {

        &::before,
        &::after {
            width: 100%;
            left : 0%;
        }

        #main .ui.container {
            width       : 90% !important;
            margin-right: 5% !important;
            margin-left : 5% !important;
        }

        aside.title {
            font-size: 5rem;
        }

        h1,
        h2,
        .countdown article h2,
        .schedule .block-element h2 {
            font-size: 3rem;

        }

        section {
            margin-bottom: 5rem;
        }

        section.block-img .block-element {
            padding: 4rem;
        }

        .countdown article .subtitle {
            font-size: 3rem;
        }

        .countdown article .timer {
            grid-template-columns: repeat(4, 1fr);
            margin               : 2rem auto 0 auto;
        }

        .countdown article .timer [class$="-n"] {
            font-size: 2rem;
            padding  : 1rem 0;
        }

        .countdown article .timer [class$="-b"] {
            font-size: 1rem;
            padding  : 0.5rem;
        }

        .callsponsors .footer .info {
            flex-direction: column;
            width         : 100%;

            &::after {
                margin-left: 0;
                margin-top : 0.5rem;
            }
        }

        #footer {
            margin-top: 5rem;
        }
    }
}